:host {
  display: block;
}

.qrContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  contain: content;
}

#checksvg {
  width: 100%;
  animation: checkJoin 1s ease-in-out forwards;
}

@keyframes checkJoin {
  0% {
    opacity: 0;
  }
  100% {
    transform: rotateZ(360deg);
    opacity: 1;
  }
}